.dropdown-menu-content {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 20px 0 rgba(0 0 0 / 0.1);
}

.dropdown-menu-item {
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dropdown-menu-item:focus {
  background-color: gainsboro;
}
